# IPv4 addresses of VPN endpoints
export VPN_PRIMARY=
export VPN_SECONDARY=
export OPENVPN_PORT=11195
export OPENVPN_CLIENT_NAME="$HOSTNAME"

# Network Interfaces
export NIC_MOBILE_A=wwan0
export NIC_MOBILE_B=wwan1
export NIC_WIRED=enp1s0
export NIC_VPN_PRIMARY=tap0
export NIC_VPN_SECONDARY=tap1

# Bird configuration
export BIRD_LOCAL_IP=192.168.254.2
export BIRD_REMOTE_IP=192.168.254.1

# Mobile Internet
export APN=internet.t-mobile
